.img{
    /* 이미지보다 영역이 더 크다면 바둑판이 디폴트 */
    /* 이미지보다 영역이 더 작으면  잘림*/
    background-image: url("../../images/오메가몬.jpg");
    width: 400px;
    height: 400px;

    /* 영역이 더 클 때 */
    /* 반복 여부 설정 */
    /* no-repeat, repeat-x, repeat-y */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */

    /* 영역이 더 작을 때 */
    /* auto: 이미지 크기 유지 */
    /* cover: 이미지를 x축을 기준으로 줄여 꽉 채움 */
    /* contain: 비율을 유지하면서 크기 조절 후 반복해서 채움 */
    background-size: contain;
    background-repeat: no-repeat;

    /* 요소 내에서 이미지 위치 지정 */
    /* left, center, right, top, bottom */
    background-position: center;
    border: 1px solid;
}