* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

/* 회원가입 글자 */
h1{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 8px;
}

span{
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
}

.join-tip{
    margin: 0 0 15px 10px;
    color: #9e9e9e;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.email-image{
    cursor: pointer;
}

.input-box{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border-color:#e0e0e0;
    margin-bottom: 10px;
}

.input-text{
    margin-bottom: 10px;
}

/* 전체 페이지를 잡아주는 div */
.joinpage{
    background-color: #fafafa;
    padding: 88px 0;
}

/* 로고와 로그인폼을 잡아주는 div */
.joinwrapper{
    min-width: 1080px;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.join-section{
    display: flex;
    flex-direction: column;
    width: 528px;
    padding: 32px;
    gap: 16px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
}

.joinlogo{
    width: 528px;
    margin-right: 24px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* 위시켓 로고 */
.wishket-welcome{
    width: 438px;
    height: 279px;
    margin-top: 30px;
}

#text-bar{
    display: flex;
    flex-direction: column;
}

.midde-bar{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #9e9e9e;
}
.midde-bar span{
    font-size: 14px;
}

#agree{
    margin-left: -5px;
}

.cursor{
    cursor: pointer;
    color: black;
    font-weight: 300;
}

.message{
    color: #3ba3c7;
    font-weight: 900;
    font-size: 14px;
}

.pwd-find{
    display: flex;
    margin-left: auto;
}

.pwd-image{
    position: relative;
    bottom: 40px;
    left: 440px;
    cursor: pointer;
}

.msg-tip{
    margin-top: -20px;
}

a{
    text-decoration: none;
    color: #3ba3c7;
    font-weight: 900;
    font-size: 14px;
}

.join{
    text-align: center;
    color: #616161;
}

.join > span{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* 회원가입 버튼 */
#submitjoin{
    background-color: #3ba3c7;
    border: #2099bb;
    color: #fff;
    margin-bottom: 30px;
}

/* 구글, 페이스북 회원가입 버튼 */
.join-btn{
    display: flex;
    justify-content: space-around;
    margin-right: -10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.join-btn a{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #616161;
}

/* 공통 3개의 버튼 */
.btn{
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.btn2{
    background-color: #fff;
    border-color: #e0e0e0;
}

/* 또는 글자 사이에 줄 */
.social-join{
    border-top: solid 1px #eee;
}

/* 또는 div */
.or{
    color: #757575;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    position: relative;
    top: -10px;
    left: 218px;
    margin-bottom: 6px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

/* 구글, 페이스북 로고 */
.logo{
    width: 20px;
    top: 4px;
}

#google-logo{
    position: relative;
    right: 130px;
}

#facebook-logo{
    position: relative;
    right: 107px;
}